# Ignore VS Code stuff
**/.vscode/

# Python pre-compiled things
**/__pycache__/
*.py[cod]
*$py.class
**/pythonenv*/
**/.ipynb_checkpoints/

# Ingore a Python .venv folder
**/.venv/

# Visual Studio folders
**/.vs/
**/bin/
**/obj/
*.user
*.aps
Debug
Release

# Temp files
*~
**/.DS_Store
**/.DS_Store/

# Local things
*.cmd
Self Delete/*
Setup/*
